*{
    font-family: sans-serif;
}

.main-nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav ul{
    display: flex;
    list-style: none;
    gap:10px;
}

.main-nav-link{
    text-decoration: none;
}

.fa-robot{
    font-size:3.2rem;
}